

body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  background-image: url(https://wallpapercat.com/w/full/2/3/b/7337-2880x1800-desktop-hd-marvel-wallpaper-photo.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 15px;

}

.quiz-container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #aaa;
  width: 650px;
  height: 350px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  margin: 10px 12px;
  padding: 10px 15px;
  height: 50px;
  border:none;
  background-color: #a3333d;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.3s ease;
}

button:hover {
  background-color: #f64740;
  transform: scale(1.1);
}

.App{
  text-align: center;
}

.heading_app{
    margin-top: 0px;
  color:beige;
  font-size: 70px;
  font-family:'Times New Roman', Times, serif;
}

#qf{
  font-size: 35px;
   color:antiquewhite;
}
#cf{
  font-size: 30px;
  color: aliceblue;
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#rh{
  font-size: 35px;
   color:antiquewhite;
}
#rp{
  font-size: 30px;
  color: aliceblue;
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bf{
  width: 300px;
  height: 65px;
  font-size: 25px;
}
#pgchange{
  margin-top: 20px;
  display: inline-block;
  font-size: 25px;
}